* {
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  padding: 25px 12px 26px 11px;
  width: 230px;
  height: 150px;

  .a901D79F67E24621 {
    width: 207px;
    height: 99px;
  }
}
