* {
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  padding: 44px 21px 46px 20px;
  width: 230px;
  height: 150px;

  .a901D79F67E24621 {
    width: 189px;
    height: 60px;
  }
}
